<form {{action 'createUser' on="submit"}}>
  <div class="form-group">
    {{input value=name placeholder=(t 'components.form-user.placeholders.name')}}
  </div>

  <div class="form-group">
    {{input value=email type='email' placeholder=(t 'components.form-user.placeholders.email')}}
  </div>

  <div class="form-group">
    <label for="startTrainingAt"> {{t 'components.form-user.labels.start_training_at'}} </label>
    {{input value=startTrainingAt type='date'}}
  </div>

  <div class="form-group">
    {{input value=age type='number' placeholder=(t 'components.form-user.placeholders.age')}}
  </div>

  <div class="form-group">
    <select onchange={{action 'selectGender' value='target.value'}}>
      <option value="" disabled="disabled" selected> {{t 'components.form-user.placeholders.gender'}} </option>
      <option value="male"> {{t 'components.form-user.gender.options.male'}} </option>
      <option value="female"> {{t 'components.form-user.gender.options.female'}} </option>
    </select>
  </div>

  <button class="btn btn-primary btn-block" type="submit"> {{t 'components.form-user.buttons.submit'}} </button>
</form>
