<div class="l-whiteframe">
  <div class="l-whiteframe-header">
    <p class="lead-text">
      {{t 'pages.users.show.title' started_at=model.started_training_at}}
    </p>
  </div>

  {{vo2max-list trainings=model.vo2max_trainings}}
</div>

{{#app-dialog open=open title=(t 'pages.users.show.dialog.title')}}
  {{form-vo2max onCreate=(action 'dismissDialog') userId=model.id}}
{{/app-dialog}}

{{button-fab icon='x' classes='fab-secondary' sendAction=(action 'deleteUser' model.id)}}
{{button-fab icon='+' sendAction=(action 'openCreateNewTrainingDialog')}}