<div class="card {{activeClass}}" {{action onclick this}}>
  <div class="card-header">
    <p class="card-title"> {{user.name}} </p>

    <span class="card-header-info" data-tooltip="Última classificação">
      <i class="icon-thumbs_up_down"></i> {{user.last_ranking}}
    </span>
    <span class="card-header-info" data-tooltip="Resultado médio">
      <i class="icon-trending_up"></i> {{user.average_result}}
    </span>
    <span class="card-header-info" data-tooltip="Último treinamento">
      <i class="icon-event"></i> {{user.last_training_date}}
    </span>
  </div>
  <div class="card-content">
    {{user.description}}

    <div class="card-action">
      {{#link-to 'users.show' user.id class='btn-primary'}}
        VER PRATICANTE
      {{/link-to}}
    </div>
  </div>
</div>