<div class="l-containter">
  {{outlet}}

  <div class="l-whiteframe">
    <div class="l-whiteframe-header">
      <p class="lead-text">
        {{t 'history'}}
      </p>
    </div>
  </div>

  <div class="l-whiteframe">
    <div class="l-whiteframe-header">
      <p class="lead-text">
        Turmas
      </p>

      <div class="l-whiteframe-header-content">
        <div class="search-field">
          <input type="text" class="search-input" placeholder="Buscar aluno">
          <a href="#" class="search-btn"> <i class="icon-search"></i> </a>
        </div>
      </div>
    </div>

    <div class="l-whiteframe-content">
      {{group-list groups=model}}
    </div>
  </div>
</div>

{{#app-dialog open=open title='Adicionar turma'}}
  {{form-group}}
{{/app-dialog}}

{{button-fab icon='+' sendAction=(action 'openCreateNewGroupDialog')}}

