<div class="l-whiteframe">
  <div class="l-whiteframe-header">
    <p class="lead-text">
      {{t 'pages.dashboard.history'}}
    </p>
  </div>
</div>

<div class="l-whiteframe">
  <div class="l-whiteframe-header">
    <p class="lead-text">
      {{t 'pages.dashboard.groups'}}
    </p>

    <div class="l-whiteframe-header-content">
      <div class="search-field">
        <input type="text" class="search-input" placeholder="{{t 'pages.dashboard.placeholders.search'}}">
        <a href="#" class="search-btn"> <i class="icon-search"></i> </a>
      </div>
    </div>
  </div>

  <div class="l-whiteframe-content">
    {{group/group-list groups=model}}
  </div>
</div>

{{#app-dialog open=open title=(t 'pages.dashboard.dialog.title')}}
  {{form-group onCreate=(action 'dismissDialog')}}
{{/app-dialog}}

{{button-fab icon='+' sendAction=(action 'openCreateNewGroupDialog')}}

